__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.egg-info/

data/
checkpoints/
results/raw/
results/**/raw_logs/
results/**/corrected_2500/
/projects/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

.DS_Store
.idea/
.vscode/
